body {
    background-color: rgb(12, 17, 92);
  
}

.bvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    background: url(./cfiles/stars.mp4) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.6;
   }

   .content {
    display: flex;   
    position: relative;
       z-index: 10;
       justify-content: space-around;
   }

   .txt {
       position: relative;
       object-fit: scale-down;
       z-index: 12;
       max-width: 500px;
       background-image: url(./cfiles/sky.jpg);
       border: 5px solid black;
   }

   .ftr {
       position: relative;
   }

   footer {
       display: flex;
       justify-content: space-around;
      
   }